%h2
  = category.name

%br

%h4
  %p Add new product

= render 'products/form'

%br

= link_to 'Edit', edit_category_path(category), class: "btn btn-info"
\|
= link_to 'Back', categories_path, class: 'btn btn-primary'
